.StoryChapter {
  margin-top: 1rem;

  &:last-child {
    margin-bottom: 5rem;
  }

  h2{
    font-family: var(--serif-font-family);
  }
  h3{
    font-family: var(--serif-font-family);
    font-style: italic;
  }

  h4{
    font-family: var(--sans-serif-font-family);
    font-weight: bold;
  }
}
