.StoryMenu {
  flex-wrap: nowrap;
  border-top: 1px solid var(--bs-gray-300);
  border-bottom: 1px solid var(--bs-gray-300);
  background-color: white;
  overflow: hidden;
  position: sticky;
  top: -3rem;
  bottom: 0;
  z-index: 1;

  a {
    font-size: 1.5rem;
    line-height: 2.5;
    white-space: nowrap;
    overflow: hidden;
    flex: 1 1 auto;
    max-width: fit-content;
    padding: 1rem 2rem;
    transition: all 0.5s;
    position: relative;

    & + a {
      border-left: 1px solid var(--bs-gray-300);
    }

    &.active {
      padding-bottom: 0.5rem;
      border-bottom: 0.5rem solid var(--bs-gray-400);
    }

    &:hover {
      width: 100% !important;
      overflow: visible;

      &::after {
        background: none;
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    }
  }

  &:not(:hover) {
    a.active {
      width: 100% !important;
      overflow: visible;

      &::after {
        background: none;
      }
    }
  }
}
