@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.StoryMenu {
  flex-wrap: nowrap;
  border-top: 1px solid var(--bs-gray-300);
  border-bottom: 1px solid var(--bs-gray-300);
  background-color: white;
  overflow: hidden;
  position: sticky;
  top: -3rem;
  bottom: 0;
  z-index: 1;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include media-breakpoint-down(md) {
    overflow-x: auto;
  }

  a {
    font-size: 1.5rem;
    line-height: 2.5;
    white-space: nowrap;
    overflow: hidden;
    flex: 1 1 auto;
    max-width: fit-content;
    padding: 1rem 2rem;
    transition: all 0.5s;
    position: relative;

    @include media-breakpoint-down(md) {
      flex: 0 0 auto;
      width: 250px !important;
      font-size: 0.75rem;
      line-height: 1.2;
      white-space: normal;
      text-align: center;
      padding: 1rem;
    }

    & + a {
      border-left: 1px solid var(--bs-gray-300);
    }

    &.active {
      padding-bottom: 0.5rem;
      border-bottom: 0.5rem solid var(--bs-gray-400);
    }

    &:hover {
      @include media-breakpoint-up(md) {
        width: 60% !important;
      }

      &::after {
        background: none;
      }
    }

    @include media-breakpoint-up(md) {
      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
      }
    }
  }

  @include media-breakpoint-up(md) {
    &:not(:hover) {
      a.active {
        width: 60% !important;
      }

      &::after {
        background: none;
      }
    }
  }
}
