.Collection {

  background-color: var(--bs-gray-300);
  height: 100%;
  overflow-y: scroll;

  .position-sticky {
    z-index: 1;
    top: 0;
    position: sticky;
    background-color: var(--bs-gray-300);
    margin-left: 0;
    padding: 1rem 0;
//    margin: -1rem 0 -0.5rem 0;
  }

  .media-type-facet .nav-link {
    padding: 0;
    margin: 0 1rem;
    transition-property: border;

    &.active, &:hover {
      color: var(--link-hover-color);
    }
  }
}
