@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
.Crime {


  position: absolute;
  background-color: var(--bs-gray-800);
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;

  .close-icon {
    position: absolute;
    right: 4rem;
    top: 1.5rem;
    z-index: 10;

    @include media-breakpoint-down(md) {
      right: 1rem;
      top: 0.5rem;
    }
  }
}
