.CrimesAndTrials {

  background-color: var(--bs-gray-200);
  height: 100%;
  padding-bottom: 5rem;

  .position-sticky {
    z-index: 1;
    top: 0;
    background-color: var(--bs-gray-200);
    margin-left: 0;
    padding: 1rem 0;
  }
}
