.HistoryOfJusticeSystem {

  font-size: 1.5rem;
  line-height: 1.4;
  height: 100%;
  padding-top: 3rem;
  scroll-behavior: smooth;

  .intro {
    min-height: 100%;
    margin-bottom: 3rem;
  }

  .theme {
    min-height: 100%;
    padding-top: 7rem;
  }
}
