@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.HistoryOfJusticeSystem {

  font-size: 1.5rem;
  line-height: 1.4;
  height: 100%;
  padding-top: 3rem;
  scroll-behavior: smooth;

  @include media-breakpoint-down(md) {
    font-size: 1.25rem;
  }

  .intro {
    min-height: 100%;
    margin-bottom: 3rem;
  }

  .theme {
    min-height: 100%;
    padding-top: 6rem;

    @include media-breakpoint-down(md) {
      padding-top: 4rem;
    }
  }
}
