@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.Home {
  background-color: var(--bs-body-color);
  color: var(--bs-light);

  a {
    color: var(--bs-light);
    padding: 0;

    &:hover {
      color: white;
    }
  }

  .promoted-picture {
    opacity: 0.5;

    &:nth-child(1) img {
      margin-left: 5%;
    }

    &:nth-child(2) img {
      margin-top: 70%;
    }

    &:nth-child(3) img {
      margin-left: 40%;
    }

    &:nth-child(4) img {
      margin-left: 80%;
    }

    &:nth-child(5) img {
      margin-left: 75%;
    }
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;

    .main-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include font-size(7.5rem);
      line-height: 1;
      width: fit-content;
      margin: 0 auto;
      flex: 1 1 content;

      span:nth-child(2) {
        @include font-size(4rem);
      }

      span:nth-child(4) {
        @include font-size(3rem);
        align-self: flex-end;
      }
    }

    .citation {
      font-size: 1.5rem;
      flex: 1 1 content;
      margin-bottom: 150px;

      @include media-breakpoint-down(md) {
        margin-bottom: 100px;
        font-size: 1.25rem;
        line-height: 1.5;
      }
    }
  }

  .navigation {
    display: flex;
    flex-direction: column;

    .menu {
      flex-direction: column;
      font-size: 2.25em;
      line-height: 1.2;
      flex: 2 1 auto;

      @include media-breakpoint-down(lg) {
        font-size: 2rem;
      }

      @include media-breakpoint-down(md) {
        font-size: 1.5rem;
      }

      .menu-item {
        position: relative;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        transform: translateY(-100%);
        padding: 1rem 0;

        .type {
          font-style: italic;
          color: var(--bs-gray-300);
          position: relative;

          &::after {
            position: absolute;
            content: '';
            top: 50%;
            margin-left: 1rem;
          }

          &.search::after {
            background-image: url(../../images/icons/search.svg);
            width: 24px;
            height: 22px;
            margin-top: -11px;
          }

          &.interview::after {
            background-image: url(../../images/icons/interview.svg);
            width: 25px;
            height: 18px;
            margin-top: -9px;
          }
        }

        &:first-child a {
          font-weight: bold;
        }

        &::after {
          position: absolute;
          width: 200px;
          height: 1px;
          top: 0;
          left: 50%;
          margin-left: -100px;
          background-color: var(--bs-gray-300);
          content: '';
        }
      }
    }

    .Footer {
      flex: 1 1 auto;
      transform: translateY(-50px);

      .logo {
        svg {
          * {
            fill: var(--bs-light);
          }
        }
      }
    }
  }
}
