@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.Interview {

  position: absolute;
  background-color: var(--bs-gray-800);
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;

  .close-icon {
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 10;

    @include media-breakpoint-up(sm) {
      right: 2rem;
    }

    @include media-breakpoint-up(md) {
      right: 3rem;
    }
  }

  .player {
    flex: 1 0 auto;
  }
}
