.Story {

  font-size: 1.5rem;
  line-height: 1.4;
  height: 100%;
  padding-top: 3rem;
  scroll-behavior: smooth;

  .bg-image {
    content: "";
    position: absolute;
    background-size: cover;
    background-position: center;
    opacity: 0.05;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
  }

  .intro {
    height: calc(100% - 93px);
    overflow: hidden;
  }
}
