$primary: #330F0A;
$accent: #BC543E;
$secondary: #878787;
$dark: #330F0A;
$light: #F2ECEC;
$link-hover-color: rgba(0, 0, 0, 0.7);
$link-hover-dark: #525051;
$body-color: #330F0A;

$line-height-base: 1.75;

$gray-200: #E6DBDB;
$gray-300: #D6C2C2;
$gray-400: #C5AAAA;
$gray-500: #9C6D6D;
$gray-600: #795353;
$gray-700: #493232;
$gray-800: #181111;
