$primary: #330F0A;
$accent: #BC543E;
$secondary: #878787;
$dark: #330F0A;
$light: #F2ECEC;
$link-hover-color: rgba(0, 0, 0, 0.7);
$link-hover-dark: #525051;
$body-color: #330F0A;

$line-height-base: 1.75;

$gray-200: #EEEEEE;
$gray-300: #DFDFDF;
$gray-400: #C4C4C4;
$gray-500: #939393;
$gray-600: #757575;
$gray-700: #4F4F4F;
$gray-800: #1E1D1D;
