.CrimeCard {

  height: 100%;
  max-height: 850px;
  font-size: 2rem;

  .slide {
    height: calc(100% - 100px);
    background-color: var(--bs-gray-400);
    border-radius: 1.25rem;
    padding: 1.25rem;
    position: relative;
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 2rem;
      font-weight: normal;
    }

    .explore-button {
      font-size: 1rem;
      text-transform: uppercase;
      background-color: var(--bs-gray-500);
      width: 92px;
      height: 92px;
      line-height: 92px;
      border-radius: 46px;
      text-align: center;
      text-decoration: none;
      transition: all 0.5s;
      position: absolute;
      bottom: 1.50rem;
      left: 50%;
      margin-left: -46px;

      &:hover {
        background-color: var(--bs-gray-600);
        color: var(--bs-gray-400);
      }
    }

    &.open {
      font-size: 1.125rem;
      line-height: 1.5;
       .year {
         font-weight: bold;
      }
    }
  }

  h3.outside {
    color: var(--bs-light);
    position: absolute;
    text-align: center;
    font-weight: normal;
    width: 100%;
  }
}
